.grid{
    margin-top: 12%;
    padding-top: 25px;
    height: 250px;
    width: 300px;
    background: black;
    color: white;
    display: block;
    align-items: center;

}

.row{
    height: 30px;
    width: 100px;
    background: yellow;
    color: white;
    display: flex;
    align-items: right;
    font-size: 100;
    float: center;
}